.container {
    width: 100vw;
    height: 100vh;
}

.calculator {
    
    margin: auto;
    margin-top: 25vh;
    width: 400px;
    height: 400px;
    background-color: dimgray;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 80px;
    grid-template-areas: 
    "display display display display"
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

.calculator button {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
}

.display {
    grid-area: display;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;

    
}
#formulaDisplay {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 39px;
    line-height: 39px;

}

#display {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 39px;
    line-height: 39px;
}